@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

@layer base {
  * {
    @apply border-slate-200 dark:border-slate-800;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
